@media screen and (max-width: 576px) {
  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 14px;
  }

  .box-uno {
    display: flex;
    flex-direction: column;
  }

  .abajo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .preguntas li {
    display: flex;
    margin-right: 5px;
    font-size: 15px;
    list-style-type: disc;
  }

  .preguntas {
    padding: 0;
    margin: 0;
    display: flex;
  }

  .box-uno img{
    width:150px;
    height: 100px;
  }

  .derecha{
    width: 300px;
    height: auto;
  }
}

@media screen and (min-width: 576px) {
  .container {
    display: flex;
    width: 1280px;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 14px;
  }

  .box-uno {
    display: flex;
    flex-direction: row;
  }

  .abajo{
    display: flex;
    flex-direction: column;
  }

  .box-dos{
    display: flex;
    margin-right: revert-layer;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .derecha{
    width: 350px;
    height: auto;
  }
}

.separator {
  width: 100%;
  background-color: black;
  height: 1px;
}

.box-uno {
  display: flex;
  flex-direction: column;
}

.derecha{
    display: flex;
    flex-direction: column;
}

.arriba{
    display: flex;
    flex-direction: row;
}

.box-dos .medio{
    width: 416px;
    margin: auto;
}

.box-tres, .box-cuatro{
    display: flex;
    flex-direction: row;
}

.box-tres .down{
    margin-right: 10px;
}

.box-cuatro .down{
    margin-right: 10px;
}

.derecha h2{
  font-weight: bolder;
  font-size: 28px;
  color: rgb(26, 25, 25);
}

.preguntas li{
  font-weight: bold;
}

