@media screen and (min-width: 577px) {
  .container {
    width: 90%;
    height: auto;
    border: solid black 1px;
    display: flex;
  }
}
.columnauno {
  width: 30%;
  height: auto;
}

.columnauno img{
    margin-top: 70px;
    margin-left: 150px;
}

.columnados {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.titulo{
    margin-bottom: -30px;
    margin-right: -5px;
}

h1 {
  font-size: 54px;
  font-family: auto;
  font-weight: 400;
  padding: 5px;
}

.txt {
  font-size: 18px;
  font-family: sans-serif;
  color: rgb(53, 52, 52);
}

p {
  padding-right: 500px;
}

label {
  display: block;
  margin: 10px;
}

.form input {
  width: 600px;
  height: 50px;
  border-radius: 2px;
  border: solid 1px rgb(180, 180, 180);
}

.form .email, .form .username, .form .password{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}

.lista {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.lista .one {
  margin-left: -30px;
}

.lista .two {
  margin-left: 105px;
}

ul {
  list-style-type: none;
}

ul li {
    position: relative;
    font-size: 1em;
    color: rgb(53, 52, 52);
    font-family: sans-serif;
  }

ul li::before {
  content: "●";
  color: rgb(92, 136, 194);
  font-size: 1.2em;
  position: relative;
  left: -0.5em; 
}

.sign{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}
.signup input[type="submit"] {
width: 155px;
height: 55px;
border: 1px solid rgb(206, 204, 204);
border-radius: 3px;
color: rgb(192, 190, 190);
font-size: 16px;
font-weight: 600;
sans-serif;
}

.checkbox{
font-size: 1.1600em;
color: rgb(53, 52, 52);
margin-top: -10px;
margin-left: 20px;
max-width: 400px;
}

.checkbox label{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
input[type="checkbox"] {
    transform: scale(1.6);
    border: 1px solid rgb(226, 226, 226);
    margin-right: 20px;
}

.pie p{
    font-size: 1.1em;
    color: rgb(53, 52, 52);
    font-family: sans-serif;;
    margin-bottom: 10px;
}